# Byte-compiled Python files
*.pyc

# Development tool and environment configuration
.vscode/
.github/
.codecov.yml
.coveragerc

# Version control and related files
.git
.gitignore

# Build and packaging files
Dockerfile
*.tar

# Documentation and license
LICENSE
README.md

# Application-specific files and directories
tests/
